.carouselImage {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cardThumb {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

}

.addButton {
    transition: 'opacity 0.5s ease-in-out';
    opacity:  1 ; 
  box-shadow: '2px 2px 2px black';
  position: 'fixed';
  right: '3em';
  bottom: '3em';
  width: '70px';
  height: '70px';
  background-color: '#930412';
  border-radius: '50%';
  cursor: 'pointer';
  display:  'block' ;
}
